
@font-face {
    font-family: 'fjPlatzGroteske-SemiBold';
    src: url('../media/fonts/fj_platz_groteske_semibold/font.woff2') format('woff2'), url('../media/fonts/fj_platz_groteske_semibold/font.woff') format('woff');
}
@font-face {
    font-family: 'fjPlatzGroteske-UltraBold';
    src: url('../media/fonts/fj_platz_groteske_ultrabold/font.woff2') format('woff2'), url('../media/fonts/fj_platz_groteske_ultrabold/font.woff') format('woff');
}
