/* --------------------------------- */
/* DEFAULT STYLES
/* --------------------------------- */

* {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
}

#page-wrapper {
    width: 100%;
    max-width: 2560px;
    min-height: calc((100vh - 60px));
    margin: 0 auto 40px auto;
    padding: 0 16px;
    min-height: calc((100vh + -341px));
}

h1, h2, h3, h4, h5, p, td, a, li {
    font-family: "fjPlatzGroteske-SemiBold";
    color: #151515;
}

*::selection {
    background-color: rgba(81, 1, 190, 0.99);
    color: #ffffff;
    opacity: 0.99;
}

h1, h2, h3 {
    font-size: 26px;
    line-height: 33px;
}

p {
    font-size: 16px;
    line-height: 22px;
}


img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (min-width: 700px) {
    #page-wrapper {
        padding: 0 32px;
    }
}

@media screen and (min-width: 700px) {
    h1, h2, h3 {
        font-size: 44px;
        line-height: 56px;
    }
}

/* --------------------------------- */
/* COMPONENT - LINK BIG (ARROW)
/* --------------------------------- */

.link-big {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.link-big__arrow polygon {
    transition: fill 0.3s ease
}

.link-big:hover,
.link-big:hover .link-big__arrow polygon,
.link-big:hover .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-big:focus,
.link-big:focus .link-big__arrow polygon,
.link-big:focus .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.link-big__text {
    line-height: 32px;
    font-size: 26px;
    margin-right: 5px;
    transition: 0.3s ease;
}

.link-big__arrow {
    display: inline-block;
    fill: #151515;
    height: 26px;
    vertical-align: text-bottom;
    transition: 0.3s ease;
}

@media screen and (min-width: 700px) {
    .link-big__text {
        font-size: 44px;
        line-height: 56px;
    }

    .link-big__arrow {
        height: 35px;
    }
}

/* --------------------------------- */
/* COMPONENT - LINK SMALL (ARROW)
/* --------------------------------- */

.link-small {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.link-small__arrow polygon {
    transition: fill 0.3s ease
}

.link-small:hover,
.link-small:hover .link-small__arrow polygon,
.link-small:hover .link-small__plus,
.link-small:hover .link-small__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-small:focus,
.link-small:focus .link-small__arrow polygon,
.link-small:hover .link-small__plus,
.link-small:focus .link-small__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.link-small__arrow,
.link-small__plus {
    display: inline-block;
    fill: #151515;
    transition: 0.3s ease;
    height: 12px;
    vertical-align: middle;
}

.link-small__text {
    display: inline;
    transition: 0.3s ease;
    line-height: 10px;
    font-size: 16px;
    border-bottom: 2px solid #000000;
}

@media screen and (min-width: 700px) {
    .link-small__text {
        font-size: 20px;
    }
    .link-small__arrow,
    .link-small__plus {
        height: 16px;
    }
}

/* --------------------------------- */
/* COMPONENT - DEFAULT LINK
/* --------------------------------- */

.default-link {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

.default-link:hover {
    color: #5101BE;
}

.default-link:focus {
    color: #400095;
}


/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION MOBILE
/* ------------------------------------------------------ */

.navigation-mobile {
    width: 100%;
    max-width: 100%;

}

.navigation-mobile__bar {
    display: flex;
    flex-row: column;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0 16px;
    background-color: #F5F5F5;
    z-index: 5;
}

.navigation-mobile__logo {
    width: 70px;
    padding: 10px 20px 10px 0;
}

.navigation-mobile__hamburger-menu {

}

.navigation-mobile__placeholder {
    height: 60px;
    width: 100%;
}

.navigation-mobile__link-background {
    top: 60px;
    height: 0px;
    width: 100%;
    position:fixed;
    background-color: #f5f5f5;;
    transition: 0.3s ease;
    overflow: hidden;
    transition-delay: 0.15s;
}

.navigation-mobile__link-background__list {
    position: relative
}

.navigation-mobile__link-background__list-item {
    position: absolute;
    right: -120px;
    font-size: 26px !important;
    transition: 0.3s ease;
}

.navigation-mobile__link-background__list-item.is-present {
    position: absolute;
    right: 16px;
    font-size: 24px;
    transition-delay: 0.3s;
}


.navigation-mobile__link-background__list-item:nth-child(1) {
    top: 10px;
}

.navigation-mobile__link-background__list-item:nth-child(2) {
    top: 60px;
}



.navigation-mobile__link-background.is-visible {
    height: 100px;
     box-shadow: 0px 75px 80px 60px #f5f5f5;

}

@media screen and (min-width: 450px) {
    .navigation-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION DESKTOP
/* ------------------------------------------------------ */

.navigation-desktop {
    width: 100%;
    display: none;
    background-color: #F5F5F5;
}



.navigation-desktop__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 2560px;
    height: 85px;
    padding: 10px 16px 10px 16px;
    background-color: #F5F5F5;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}

.navigation-desktop__logo__link {
    margin-right: auto;
    width: 80px;
}

.navigation-desktop__navigation {
    margin-right: auto;
    width: 90px;
    padding: 10px 20px 10px 0;
}

.navigation-desktop__navigation-item {
    margin-left: 32px;
    margin-bottom: 7px;
}

.navigation-desktop__navigation-item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.navigation-desktop__placeholder {
    height: 85px;
    width: 100%;
}

@media screen and (min-width: 450px) {
    .navigation-desktop {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    .navigation-desktop__bar {
        padding: 10px 32px 10px 32px;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER MOBILE
/* ------------------------------------------------------ */

.footer-mobile {
    padding: 50px 16px;
    background-color: #ffffff;
}

.footer-mobile__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-mobile__row--one {
    margin-bottom: 30px;
}

.footer-mobile__row-one__item:not(:last-child),
.footer-mobile__row-two__item:not(:last-child){
    margin-right: 15px;
}

.footer-mobile__row-one__item,
.footer-mobile__row-two__item {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.footer-mobile__row-one__item:hover,
.footer-mobile__row-two__item:hover {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.footer-mobile__row-one__item:hover,
.footer-mobile__row-two__item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}



.footer-mobile__row-two__item {
    font-size: 14px;
    line-height: 21px;
}

.footer-mobile__row-two__item:nth-child(2):hover {
    color: inherit;
}


@media screen and (min-width: 400px) {
    .footer-mobile__row {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px) {
    .footer-mobile {
        padding: 50px 32px;
    }
}

@media screen and (min-width: 1000px) {
    .footer-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER DESKTOP
/* ------------------------------------------------------ */

.footer-desktop {
    width: 100%;
    background-color: #ffffff;
    display: none;
}

.footer-desktop__container {
    width: 100%;
    max-width: 2560px;
    padding: 50px 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.footer-desktop__column {

}

.footer-desktop__column--one {
    margin-right: 60px;
}

.footer-desktop__logo {
    width: 80px;
    height: auto;
}

.footer-desktop__column--two {

}

.footer-desktop__column-two__item {
    font-size: 24px;
    text-decoration: none;
}

.footer-desktop__column-two__item {
    margin-right: 25px;
}

.footer-desktop__column-two__item:last-child {
    margin-right: 60px;
}

.footer-desktop__column--three {
    margin-left: auto;
}

.footer-desktop__column-three__item:not(:last-child) {
    margin-right: 25px;
    display: inline-block;
}

.footer-desktop__column-three__item:not(:last-child):hover {
    color: inherit;
}

.footer-desktop__column-two__item,
.footer-desktop__column-three__item {
    font-size: 18px;
    line-height: 26px;
}





@media screen and (min-width: 1000px) {
    .footer-desktop {
        display: flex;
    }
}


@media screen and (min-width: 1050px) {
    .footer-desktop__column--one {
        margin-right: 60px;
    }
    .footer-desktop__column-two__item:last-child {
        margin-right: 60px;
    }
    .footer-desktop__column-two__item {
        margin-right: 25px;
    }
}

@media screen and (min-width: 1350px) {
    .footer-desktop__column--one {
        margin-right: 120px;
    }
    .footer-desktop__column-two__item:last-child {
        margin-right: 120px;
    }
    .footer-desktop__column-two__item {
        margin-right: 40px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - HERO
/* ------------------------------------------------------ */

.section-hero {

}

.section-hero__image {
    width: 100%;
    margin-bottom: 50px;
    max-height: calc(100vh - 392px )
}

.section-hero__content {
    width: 100%;
    padding: 0 16px;
}

.section-hero__content__title {
    margin-bottom: 28px;
    max-width: 1025px;
}

.section-hero__content__link {
    margin-bottom: 50px;
}

@media screen and (min-width: 700px) {
    .section-hero__content {
        padding: 0 32px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - PROJECTS
/* ------------------------------------------------------ */

.section-projects {

}

.project__image {
    width: 100%;
    display: block;
}

.project__image__link {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
}

.project:first-child .project__image__link {
    margin-top: 0px;
}

.project:last-child  {
    margin-bottom: 40px;
}

.project__image__link:hover + .link-big .link-big__arrow polygon,
.project__image__link:hover +  .link-big .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.project__image__link:hover + .link-big .link-big__arrow ,
.project__title:hover .link-big__arrow,
.project__title:focus .link-big__arrow{
    margin-left: 9px !important;
}

.project__image__link:focus .link-big__arrow polygon,
.project__image__link:focus .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.project__title {
    margin-bottom: 40px;
    display: inline;
}

/* ------------------------------------------------------ */
/* SECTION - INFO
/* ------------------------------------------------------ */

.section-info {
    margin-top: 20px;
}

.section-info .intro__text {
    margin-bottom: 30px;
}

.section-info .intro__link {
    margin-bottom: 90px;
}

.section-info .intro__image {
    width: 100%;
    margin-bottom: 16px;
}

.section-info .cards {
    display: flex;
    flex-direction: column;
}

.section-info .card {
    width: 100%;
    text-align: center;
    padding: 50px 25px;
    background-color: #ffffff;
    margin-bottom: 16px;
}


.section-info .card__title {
    margin-bottom: 25px;
}

.section-info .about__image {
    margin-bottom: 50px;
    width: 100%;
}

.section-info .about__title {
    margin-bottom: 25px;
}

.section-info .about__text {
    margin-bottom: 25px;
}

.section-info .about__link{
    margin-bottom: 50px;
}

.section-info .contact__image {
    width: 100%;
    margin-bottom: 50px;
}

.section-info .contact__title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 25px;

}

.section-info .contact__address {
    margin-bottom: 50px;
}

.contact__address__link,
contact__address__text {
    line-height: 22px;
}

.contact__address__link:nth-child(3) {
    margin-bottom: 22px;;
}

@media screen and (min-width: 950px) {
    .section-info .cards {
        flex-direction: row;
    }
    .section-info .card:nth-child(1) {
        margin-right: 10px;
    }
    .section-info .card:nth-child(2) {
        margin-left: 10px;
    }
}


/* ------------------------------------------------------ */
/* SECTION - DETAILS
/* ------------------------------------------------------ */

.section-description {

}

.section-description__image {
    width: 100%;
    margin-bottom: 50px;
}

.section-description__content {
    margin: 40px 40px 40px 0;
    display: flex;
    flex-direction: column;
}

.section-description__content__title {
    margin-bottom: 25px;
    max-width: 500px;
}

.section-description__content__description {
    margin-bottom: 28px;
    max-width: 1025px;
    max-width: 500px;
}

.section-description__content__link {
    margin-bottom: 50px;
}


.section-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto);
    grid-gap: 20px;
    align-items: stretch;
}

.section-details img {
    width: 100%;
    height: auto;
}


.item-1     { grid-area: 1 / 1 / 2 / 3; }
.item-2     { grid-area: 2 / 1 / 3 / 3; }
.item-3     { grid-area: 3 / 1 / 4 / 3; }
.item-4     { grid-area: 4 / 1 / 5 / 3; }
.item-5     { grid-area: 5 / 1 / 6 / 3; }
.item-6     { grid-area: 6 / 1 / 7 / 3; }
.item-7     { grid-area: 7 / 1 / 8 / 3; }
.item-8     { grid-area: 8 / 1 / 9 / 3; }
.item-9     { grid-area: 9 / 1 / 10 / 3; }
.item-10    { grid-area: 10 / 1 / 11 / 3; }
.item-11    { grid-area: 11 / 1 / 12 / 3; }
.item-12    { grid-area: 12 / 1 / 13 / 3; }
.item-13    { grid-area: 13 / 1 / 14 / 3; }
.item-14    { grid-area: 14 / 1 / 15 / 3; }
.item-15    { grid-area: 15 / 1 / 16 / 3; }
.item-16    { grid-area: 16 / 1 / 17 / 3; }
.item-17    { grid-area: 17 / 1 / 18 / 3; }
.item-18    { grid-area: 18 / 1 / 19 / 3; }

@media screen and (min-width: 700px) {
    .item-1     { grid-area: 1 / 1 / 2 / 3; }
    .item-2     { grid-area: 2 / 1 / 4 / 2; }
    .item-3     { grid-area: 2 / 2 / 4 / 3; }
    .item-4     { grid-area: 4 / 1 / 5 / 3; }
    .item-5     { grid-area: 5 / 1 / 7 / 2; }
    .item-6     { grid-area: 5 / 2 / 6 / 3; }
    .item-7     { grid-area: 6 / 2 / 7 / 3; }
    .item-8     { grid-area: 7 / 1 / 8 / 3; }
    .item-9     { grid-area: 8 / 1 / 9 / 2; }
    .item-10    { grid-area: 8 / 2 / 9 / 3; }
    .item-11    { grid-area: 9 / 1 / 10 / 3; }
    .item-12    { grid-area: 10 / 1 / 11 / 2; }
    .item-13    { grid-area: 10 / 2 / 11 / 3; }
    .item-14    { grid-area: 11 / 1 / 12 / 3; }
    .item-15    { grid-area: 12 / 1 / 13 / 2; }
    .item-16    { grid-area: 12 / 2 / 13 / 3; }
    .item-17    { grid-area: 13 / 1 / 14 / 3; }
    .item-18    { grid-area: 14 / 1 / 15 / 3; }
    .item-19    { grid-area: 15 / 1 / 16 / 2; }
    .item-20    { grid-area: 15 / 2 / 16 / 3; }
    .item-21    { grid-area: 16 / 1 / 17 /3; }
    .item-22    { grid-area: 17 / 1 / 18 / 2; }
    .item-23    { grid-area: 17 / 2 / 18 / 3; }
    .item-24    { grid-area: 18 / 1 / 19 / 3; }
    .item-25    { grid-area: 19 / 1 / 20 / 3; }
    .item-26    { grid-area: 20 / 1 / 21 / 3; }
}

@media screen and (min-width: 1000px) {
    .section-description__content {
        flex-direction: row;
    }
}

/* ------------------------------------------------------ */
/* SECTION - IMPRESSUM
/* ------------------------------------------------------ */

.section-impressum {
    margin: 40px 40px 40px 0;
    display: flex;
    flex-direction: column;
}

.impressum__title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 25px;
}

.impressum__card {
    margin-bottom: 50px;
}

.impressum__card__title {
font-family: "fjPlatzGroteske-UltraBold";
}

.impressum__card__link {
    display: inline-block;
}

.impressum__copyright {
    max-width: 500px;
}

@media screen and (min-width: 1000px) {
    .section-impressum {
        flex-direction: row;
    }
    .impressum__title {
        width: 500px;
    }
}




