/* --------------------------------- */
/* DEFAULT STYLES
/* --------------------------------- */

* {
    box-sizing: border-box;
    outline: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

*::selection {
    background-color: rgba(81, 1, 190, 0.99);
    color: #ffffff;
    opacity: 0.99;
}

html {
    scroll-behavior: smooth;
    cursor: url('../media/icons/cursor_default.svg') 10 10, auto !important;
}

body {
    background-color: #F5F5F5;
}

#page-wrapper {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto 16px auto;
    padding: 0 16px;
    min-height: calc((100vh - 341px));
}

h1, h2, h3, h4, h5, p, td, a, li {
    font-family: "fjPlatzGroteske-SemiBold";
    color: #151515;
}

h1, h2, h3 {
    font-size: 26px;
    line-height: 33px;
}

p, td, li {
    font-size: 16px;
    line-height: 22px;
}

a:any-link, button {
    cursor: url('../media/icons/cursor_active.svg') 10 10, auto !important;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (min-width: 400px) {
    #page-wrapper {
        min-height: calc((100vh - 273px));
    }
}

@media screen and (min-width: 450px) {
    #page-wrapper {
        min-height: calc((100vh - 298px));
    }
}

@media screen and (min-width: 700px) {
    #page-wrapper {
        padding: 0 32px;
        margin: 0 auto 32px auto;
        min-height: calc((100vh - 313px));
    }
    h1, h2, h3 {
        font-size: 44px;
        line-height: 56px;
    }
    p, td, li {
        font-size: 24px;
        line-height: 33px;
    }
}


/* --------------------------------- */
/* COMPONENT - LINK BIG (ARROW)
/* --------------------------------- */

.link-big {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.link-big::selection {
    background-color: inherit;
    color: inherit;
}

.link-big__arrow polygon {
    transition: fill 0.3s ease
}

.link-big:hover,
.link-big:hover .link-big__arrow polygon,
.link-big:hover .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-big:focus,
.link-big:focus .link-big__arrow polygon,
.link-big:focus .link-big__text,
.link-big:active,
.link-big:active .link-big__arrow polygon,
.link-big:active .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}



.link-big__text {
    line-height: 32px;
    font-size: 26px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.link-big__arrow {
    display: none;
    fill: #151515;
    height: 26px;
    vertical-align: sub;
    transition: 0.3s ease;
    position: relative;
    top: -3px;
}

@media screen and (min-width: 700px) {
    .link-big__text {
        font-size: 44px;
        line-height: 56px;
    }
    .link-big__arrow {
        height: 35px;
    }
}

@media screen and (min-width: 1015px) {
    .link-big__arrow {
        display: inline-block;
    }
}

/* --------------------------------- */
/* COMPONENT - LINK SMALL (ARROW)
/* --------------------------------- */

.link-small {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.link-small::selection {
    background-color: inherit;
    color: inherit;
}

.link-small__arrow polygon {
    transition: fill 0.3s ease
}

.link-small:hover,
.link-small:hover .link-small__arrow polygon,
.link-small:hover .link-small__plus,
.link-small:hover .link-small__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-small:focus,
.link-small:focus .link-small__arrow polygon,
.link-small:focus .link-small__plus,
.link-small:focus .link-small__text,
.link-small:active,
.link-small:active .link-small__arrow polygon,
.link-small:active .link-small__plus,
.link-small:active .link-small__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.link-small__arrow,
.link-small__plus {
    display: inline-block;
    fill: #151515;
    transition: 0.3s ease;
    height: 12px;
    vertical-align: baseline;
    position: relative;
    top: 2px;
}

.link-small__text {
    display: inline;
    transition: 0.3s ease;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 2px solid #000000;
    margin-left: 3px;
}

@media screen and (min-width: 700px) {
    .link-small__text {
        font-size: 20px;
    }
    .link-small__arrow,
    .link-small__plus {
        height: 16px;
    }
}

/* --------------------------------- */
/* COMPONENT - DEFAULT LINK
/* --------------------------------- */

.default-link {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}

.default-link:hover {
    color: #5101BE;
}

.default-link:focus {
    color: #400095;
}

/* --------------------------------- */
/* COMPONENT - SHOW MORE BOX
/* --------------------------------- */

.show-more-box {

}

.show-more-box__item:not(:last-child) {
    margin-bottom: 28px;
}

.show-more-box__title {
    font-family: "fjPlatzGroteske-UltraBold";
}

@media screen and (min-width: 700px) {
    .show-more-box__title {
        font-family: "fjPlatzGroteske-SemiBold";
        font-size: 20px;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION MOBILE
/* ------------------------------------------------------ */

.navigation-mobile {
    width: 100%;
    max-width: 100%;
}

.navigation-mobile .navigation-mobile__bar {
    display: flex;
    flex-row: column;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0 16px;
    background-color: #F5F5F5;
    z-index: 5;
}

.navigation-mobile .navigation-mobile__logo {
    width: 70px;
    padding: 10px 20px 10px 0;
}

.navigation-mobile .navigation-mobile__hamburger-menu {

}

.navigation-mobile .navigation-mobile__placeholder {
    height: 60px;
    width: 100%;
}

.navigation-mobile .navigation-mobile__link-background {
    top: 60px;
    height: 0px;
    width: 100%;
    position:fixed;
    background-color: #f5f5f5;;
    transition: 0.3s ease;
    overflow: hidden;
    transition-delay: 0.15s;
}

.navigation-mobile .navigation-mobile__link-background__list {
    position: relative
}

.navigation-mobile .navigation-mobile__link-background__list-item {
    position: absolute;
    right: -120px;
    font-size: 26px !important;
    transition: 0.3s ease;
}

.navigation-mobile .navigation-mobile__link-background__list-item.is-present {
    position: absolute;
    right: 16px;
    font-size: 24px;
}

.navigation-mobile .navigation-mobile__link-background__list-item.is-present:nth-child(1) { transition-delay: 0.3s; }
.navigation-mobile .navigation-mobile__link-background__list-item.is-present:nth-child(2) { transition-delay: 0.45s; }
.navigation-mobile .navigation-mobile__link-background__list-item.is-present:nth-child(3) { transition-delay: 0.6s; }

.navigation-mobile .navigation-mobile__link-background__list-item:nth-child(1) { top: 10px; }
.navigation-mobile .navigation-mobile__link-background__list-item:nth-child(2) { top: 60px; }
.navigation-mobile .navigation-mobile__link-background__list-item:nth-child(3) { top: 110px; }

.navigation-mobile .navigation-mobile__link-background.is-visible {
    height: 175px;
     box-shadow: 0px 75px 80px 60px #f5f5f5;
}

@media screen and (min-width: 450px) {
    .navigation-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION DESKTOP
/* ------------------------------------------------------ */

.navigation-desktop {
    width: 100%;
    display: none;
    background-color: #F5F5F5;
}

.navigation-desktop .navigation-desktop__bar {
    width: 100%;
    height: 85px;
    background-color: #F5F5F5;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 16px 5px 16px;
}

.navigation-desktop .navigation_desktop__container {
    width: 100%;
    max-width: 2496px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
}

.navigation-desktop .navigation-desktop__logo__link {
    margin-right: auto;
    width: 80px;
}

.navigation-desktop .navigation-desktop__navigation {
    margin-right: auto;
    width: 90px;
    padding: 10px 20px 10px 0;
}

.navigation-desktop .navigation-desktop__navigation-item {
    margin-left: 32px;
    margin-bottom: 7px;
    font-size: 20px;
}

.navigation-desktop .navigation-desktop__navigation-item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.navigation-desktop .navigation-desktop__placeholder {
    height: 85px;
    width: 100%;
}

@media screen and (min-width: 450px) {
    .navigation-desktop {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    .navigation-desktop .navigation-desktop__bar {
        padding: 15px 32px 5px 32px;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER MOBILE
/* ------------------------------------------------------ */

.footer-mobile {
    padding: 50px 16px;
    background-color: #ffffff;
}

.footer-mobile .footer-mobile__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-mobile .footer-mobile__row--one {
    margin-bottom: 30px;
}

.footer-mobile .footer-mobile__row-one__item:not(:last-child),
.footer-mobile .footer-mobile__row-two__item:not(:last-child){
    margin-right: 15px;
}

.footer-mobile .footer-mobile__row-one__item,
.footer-mobile .footer-mobile__row-two__item {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.footer-mobile .footer-mobile__row-one__item:hover,
.footer-mobile .footer-mobile__row-two__item:hover {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.footer-mobile .footer-mobile__row-one__item:hover,
.footer-mobile .footer-mobile__row-two__item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.footer-mobile .footer-mobile__row-two__item {
    font-size: 14px;
    line-height: 21px;
}

.footer-mobile .footer-mobile__row-two__item:nth-child(2):hover {
    color: inherit;
}


@media screen and (min-width: 400px) {
    .footer-mobile .footer-mobile__row {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px) {
    .footer-mobile {
        padding: 50px 32px;
    }
}

@media screen and (min-width: 1000px) {
    .footer-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER DESKTOP
/* ------------------------------------------------------ */

.footer-desktop {
    width: 100%;
    background-color: #ffffff;
    display: none;
}

.footer-desktop  .footer-desktop__container {
    width: 100%;
    max-width: 2560px;
    padding: 50px 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.footer-desktop  .footer-desktop__column {

}

.footer-desktop  .footer-desktop__column--one {
    margin-right: 60px;
}

.footer-desktop  .footer-desktop__logo {
    width: 80px;
    height: auto;
}

.footer-desktop  .footer-desktop__column--two {

}

.footer-desktop  .footer-desktop__column-two__item {
    font-size: 24px;
    text-decoration: none;
}

.footer-desktop  .footer-desktop__column-two__item {
    margin-right: 25px;
}

.footer-desktop  .footer-desktop__column-two__item:last-child {
    margin-right: 60px;
}

.footer-desktop  .footer-desktop__column--three {
    margin-left: auto;
}

.footer-desktop  .footer-desktop__column-three__item:not(:last-child) {
    margin-right: 25px;
    display: inline-block;
}

.footer-desktop  .footer-desktop__column-three__item:not(:last-child):hover {
    color: inherit;
}

.footer-desktop  .footer-desktop__column-two__item,
.footer-desktop  .footer-desktop__column-three__item {
    font-size: 18px;
    line-height: 26px;
}

@media screen and (min-width: 1000px) {
    .footer-desktop {
        display: flex;
    }
}

@media screen and (min-width: 1150px) {
    .footer-desktop  .footer-desktop__column--one {
        margin-right: 60px;
    }
    .footer-desktop  .footer-desktop__column-two__item {
        font-size: 24px !important;
        line-height: 33px !important;
        margin-right: 25px;
    }
    .footer-desktop  .footer-desktop__column-two__item:last-child {
        margin-right: 60px;
    }
    .footer-desktop .footer-desktop__column-three__item {
        font-size: 16px !important;
        line-height: 33px !important ;
    }
}

@media screen and (min-width: 1350px) {
    .footer-desktop  .footer-desktop__column--one {
        margin-right: 120px;
    }
    .footer-desktop  .footer-desktop__column-two__item:last-child {
        margin-right: 120px;
    }
    .footer-desktop  .footer-desktop__column-two__item {
        margin-right: 40px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - HERO
/* ------------------------------------------------------ */

.section-hero {

}

.section-hero .section-hero__image {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    max-height: calc(100vh - 392px);
    object-fit: cover;
}

.section-hero .section-hero__content {
    width: 100%;
    padding: 0 16px;
    max-width: 2560px;
    margin: auto;
}

.section-hero .section-hero__content__title {
    margin-bottom: 28px;
    max-width: 1080px;
}

.section-hero__content__link {
    margin-bottom: 50px;
}

@media screen and (min-width: 700px) {
    .section-hero .section-hero__content {
        padding: 0 32px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - PROJECTS
/* ------------------------------------------------------ */

.section-projects {

}

.section-projects .project__image {
    width: 100%;
    display: block;
    max-height: calc(100vh - 190px);
    object-fit: cover;
}

.section-projects .project__image__link {
    display: inline-block;
    margin-bottom: 14px;
    margin-top: 26px;
    width: 100%;
}

.section-projects .project:first-child .project__image__link {
    margin-top: 0px;
}

.section-projects .project:last-child  {
    margin-bottom: 40px;
}

.section-projects .project__image__link:hover + .link-big .link-big__arrow polygon,
.section-projects .project__image__link:hover +  .link-big .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.section-projects .project__image__link:hover + .link-big .link-big__arrow ,
.section-projects .project__title:hover .link-big__arrow,
.section-projects .project__title:focus .link-big__arrow{
    margin-left: 9px !important;
}

.section-projects .project__image__link:focus .link-big__arrow polygon,
.section-projects .project__image__link:focus .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.section-projects .project__title {
    display: inline-block;
}

@media screen and (min-width: 700px) {
    .section-projects .project__image__link {
        margin-top: 45px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - INFO
/* ------------------------------------------------------ */

.section-info {

}

.section-info .intro__text {
    margin:32px 0 32px 0;
    max-width: 1085px;
}

.section-info .intro__link {
    margin-bottom: 90px;
}

.section-info .intro__image {
    width: 100%;
    margin-bottom: 16px;
}

.section-info .cards {
    display: flex;
    flex-direction: column;
}

.section-info .card {
    width: 100%;
    text-align: center;
    padding: 50px 25px;
    background-color: #ffffff;
    background-color: #ffffff;
    margin-bottom: 16px;
}


.section-info .card__title {
    margin-bottom: 25px;
}

.section-info .about__image {
    width: 100%;
}

.section-info .about__description{
    display: flex;
    flex-direction: column;
    margin: 50px 40px 32px 0;
}


.section-info .about__title {
    margin-bottom: 32px;
    max-width: 500px;
    padding-right: 50px;
    width: 100%;
    flex-shrink: 0;
}

.section-info .about__container {
    max-width: 750px;
}

.section-info .about__text {
    margin-bottom: 32px;

}

.section-info .about__show-more-box .show-more-box__cell:nth-child(1) {
    padding-right: 15px;
    white-space: nowrap;
}

.section-info .about__link{
    margin-bottom: 50px;
}

.section-info .contact__image {
    width: 100%;
    margin-bottom: 50px;
}

.section-info .contact__title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 25px;

}

.section-info .contact__address {
    margin-bottom: 50px;
}

.section-info .contact__address__link,
.section-info .contact__address__text {
    line-height: 22px;
}

.section-info .contact__address__link:nth-child(3) {
    margin-bottom: 22px;;
}

@media screen and (min-width: 700px) {
    .section-info .card,
    .section-info .intro__image {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1000px) {
    .section-info .about__description{
        flex-direction: row;
    }
    .section-info .about__title{
        width: 500px;
    }
}

@media screen and (min-width: 1015px) {
    .section-info .intro__text {
        margin:100px 0 32px 0;
    }
}


@media screen and (min-width: 1025px) {
    .section-info .cards {
        flex-direction: row;
    }
    .section-info .card:nth-child(1) {
        margin-right: 16px;
    }
    .section-info .card:nth-child(2) {
        margin-left: 16px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - CONTACT
/* ------------------------------------------------------ */

.section-contact {

}

.section-contact .contact__address {
    display: flex;
    flex-direction: column;
    margin:32px 0 32px 0;
}

.section-contact .contact__image {
    width: 100%;
    margin-bottom: 16px;
    display: block;
}

.section-contact .contact__address__container:first-child {
    margin-bottom: 32px
}

.section-contact .contact__address__text,
.section-contact .contact__address__link {
    font-size: 26px;
    line-height: 33px;
}


@media screen and (min-width: 700px) {
    .section-contact .contact__address__text,
    .section-contact .contact__address__link {
        font-size: 44px;
        line-height: 56px;
    }
    .section-contact .contact__image {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1015px) {
    .section-contact .contact__address {
        flex-direction: row;
        margin: 100px 0 32px 0;
    }
    .section-contact .contact__address__container:first-child {
        margin-bottom: 0px
    }
}

/* ------------------------------------------------------ */
/* SECTION - DESCRIPTON
/* ------------------------------------------------------ */

.section-description {

}

.section-description .section-description__image {
    width: 100%;
    max-height: calc(100vh - 392px );
    object-fit: cover;
}

.section-description .section-description__content {
    margin: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
}

.section-description .section-description__content__title {
    margin-bottom: 25px;
    max-width: 500px;
    width: 100%;
    flex-shrink: 0;
    padding-right: 50px;
}

.section-description .section-description__content__description {
    margin-bottom: 28px;
    max-width: 1025px;
    max-width: 1000px;
}

.section-description .section-description__content__link {
    margin-bottom: 50px;
}

@media screen and (min-width: 1000px) {
    .section-description .section-description__content {
        margin: 80px 40px 80px 0;
    }
}

/* ------------------------------------------------------ */
/* SECTION - DETAILS
/* ------------------------------------------------------ */

.section-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto);
    grid-gap: 16px;
    align-items: stretch;
}

.section-details img {
    width: 100%;
    height: auto;
}

.section-details .item-1     { grid-area: 1 / 1 / 2 / 3; }
.section-details .item-2     { grid-area: 2 / 1 / 3 / 3; }
.section-details .item-3     { grid-area: 3 / 1 / 4 / 3; }
.section-details .item-4     { grid-area: 4 / 1 / 5 / 3; }
.section-details .item-5     { grid-area: 5 / 1 / 6 / 3; }
.section-details .item-6     { grid-area: 6 / 1 / 7 / 3; }
.section-details .item-7     { grid-area: 7 / 1 / 8 / 3; }
.section-details .item-8     { grid-area: 8 / 1 / 9 / 3; }
.section-details .item-9     { grid-area: 9 / 1 / 10 / 3; }
.section-details .item-10    { grid-area: 10 / 1 / 11 / 3; }
.section-details .item-11    { grid-area: 11 / 1 / 12 / 3; }
.section-details .item-12    { grid-area: 12 / 1 / 13 / 3; }
.section-details .item-13    { grid-area: 13 / 1 / 14 / 3; }
.section-details .item-14    { grid-area: 14 / 1 / 15 / 3; }
.section-details .item-15    { grid-area: 15 / 1 / 16 / 3; }
.section-details .item-16    { grid-area: 16 / 1 / 17 / 3; }
.section-details .item-17    { grid-area: 17 / 1 / 18 / 3; }
.section-details .item-18    { grid-area: 18 / 1 / 19 / 3; }
.section-details .item-19    { grid-area: 18 / 1 / 19 / 3; }
.section-details .item-20    { grid-area: 19 / 1 / 20 / 3; }
.section-details .item-21    { grid-area: 20 / 1 / 21 / 3; }
.section-details .item-22    { grid-area: 21 / 1 / 22 / 3; }
.section-details .item-23    { grid-area: 22 / 1 / 23 / 3; }
.section-details .item-24    { grid-area: 23 / 1 / 24 / 3; }
.section-details .item-25    { grid-area: 24 / 1 / 25 / 3; }
.section-details .item-25    { grid-area: 25 / 1 / 26 / 3; }

@media screen and (min-width: 700px) {
    .section-details--xund .item-1     { grid-area: 1 / 1 / 2 / 3; }
    .section-details--xund .item-2     { grid-area: 2 / 1 / 4 / 2; }
    .section-details--xund .item-3     { grid-area: 2 / 2 / 4 / 3; }
    .section-details--xund .item-4     { grid-area: 4 / 1 / 5 / 3; }
    .section-details--xund .item-5     { grid-area: 5 / 1 / 7 / 2; }
    .section-details--xund .item-6     { grid-area: 5 / 2 / 6 / 3; }
    .section-details--xund .item-7     { grid-area: 6 / 2 / 7 / 3; }
    .section-details--xund .item-8     { grid-area: 7 / 1 / 8 / 3; }
    .section-details--xund .item-9     { grid-area: 8 / 1 / 9 / 2; }
    .section-details--xund .item-10    { grid-area: 8 / 2 / 9 / 3; }
    .section-details--xund .item-11    { grid-area: 9 / 1 / 10 / 3; }
    .section-details--xund .item-12    { grid-area: 10 / 1 / 11 / 2; }
    .section-details--xund .item-13    { grid-area: 10 / 2 / 11 / 3; }
    .section-details--xund .item-14    { grid-area: 11 / 1 / 12 / 3; }
    .section-details--xund .item-15    { grid-area: 12 / 1 / 13 / 2; }
    .section-details--xund .item-16    { grid-area: 12 / 2 / 13 / 3; }
    .section-details--xund .item-17    { grid-area: 13 / 1 / 14 / 3; }
    .section-details--xund .item-18    { grid-area: 14 / 1 / 15 / 3; }
    .section-details--xund .item-19    { grid-area: 15 / 1 / 16 / 2; }
    .section-details--xund .item-20    { grid-area: 15 / 2 / 16 / 3; }
    .section-details--xund .item-21    { grid-area: 16 / 1 / 17 /3; }
    .section-details--xund .item-22    { grid-area: 17 / 1 / 18 / 2; }
    .section-details--xund .item-23    { grid-area: 17 / 2 / 18 / 3; }
    .section-details--xund .item-24    { grid-area: 18 / 1 / 19 / 3; }
    .section-details--xund .item-25    { grid-area: 19 / 1 / 20 / 3; }
    .section-details--xund .item-26    { grid-area: 20 / 1 / 21 / 3; }

    .section-details--albertini .item-1     { grid-area: 1 / 1 / 2 / 3; }
    .section-details--albertini .item-2     { grid-area: 2 / 1 / 4 / 2; }
    .section-details--albertini .item-3     { grid-area: 2 / 2 / 3 / 3; }
    .section-details--albertini .item-4     { grid-area: 3 / 2 / 4 / 3; }
    .section-details--albertini .item-5     { grid-area: 4 / 1 / 5 / 3; }
    .section-details--albertini .item-6     { grid-area: 5 / 1 / 6 / 3; }
    .section-details--albertini .item-7     { grid-area: 6 / 1 / 7 / 2; }
    .section-details--albertini .item-8     { grid-area: 7 / 1 / 8 / 2; }
    .section-details--albertini .item-9     { grid-area: 6 / 2 / 8 / 2; }
    .section-details--albertini .item-10    { grid-area: 8 / 1 / 9 / 3; }
    .section-details--albertini .item-11    { grid-area: 9 / 1 / 10 / 3; }
    .section-details--albertini .item-12    { grid-area: 10 / 1 / 11 / 3; }
    .section-details--albertini .item-13    { grid-area: 11 / 1 / 12 / 2; }
    .section-details--albertini .item-14    { grid-area: 12 / 1 / 13 / 2; }
    .section-details--albertini .item-15    { grid-area: 11 / 2 / 13 / 3; }
    .section-details--albertini .item-16    { grid-area: 13 / 1 / 14 / 3; }
    .section-details--albertini .item-17    { grid-area: 14 / 1 / 15 / 3; }
    .section-details--albertini .item-18    { grid-area: 15 / 1 / 16 / 3; }

    .section-details--hellergrafik .item-1     { grid-area: 1 / 1 / 2 / 3; }
    .section-details--hellergrafik .item-2     { grid-area: 2 / 1 / 3 / 3; }
    .section-details--hellergrafik .item-3     { grid-area: 3 / 1 / 4 / 3; }
    .section-details--hellergrafik .item-4     { grid-area: 4 / 1 / 5 / 2; }
    .section-details--hellergrafik .item-5     { grid-area: 4 / 2 / 5 / 3; }
    .section-details--hellergrafik .item-6     { grid-area: 5 / 1 / 6 / 3; }
    .section-details--hellergrafik .item-7     { grid-area: 6 / 1 / 7 / 2; }
    .section-details--hellergrafik .item-8     { grid-area: 6 / 2 / 7 / 3; }
    .section-details--hellergrafik .item-9     { grid-area: 7 / 1 / 8 / 3; }
    .section-details--hellergrafik .item-10    { grid-area: 8 / 1 / 10 / 2; }
    .section-details--hellergrafik .item-11    { grid-area: 8 / 2 / 9 / 3; }
    .section-details--hellergrafik .item-12    { grid-area: 9 / 2 / 10 / 3; }
    .section-details--hellergrafik .item-13    { grid-area: 10 / 1 / 11 / 3; }
    .section-details--hellergrafik .item-14    { grid-area: 11 / 1 / 12 / 3; }
    .section-details--hellergrafik .item-15    { grid-area: 12 / 2 / 14 / 3; }
    .section-details--hellergrafik .item-16    { grid-area: 14 / 1 / 15 / 3; }
    .section-details--hellergrafik .item-17    { grid-area: 15 / 1 / 16 / 3; }
    .section-details--hellergrafik .item-18    { grid-area: 16 / 1 / 17 / 3; }

    .section-details--xundzebi .item-1     { grid-area: 1 / 1 / 2 / 2; }
    .section-details--xundzebi .item-2     { grid-area: 1 / 2 / 2 / 3; }
    .section-details--xundzebi .item-3     { grid-area: 2 / 1 / 3 / 3; }
    .section-details--xundzebi .item-4     { grid-area: 3 / 1 / 4 / 2; }
    .section-details--xundzebi .item-5     { grid-area: 3 / 2 / 4 / 3; }
    .section-details--xundzebi .item-6     { grid-area: 4 / 1 / 5 / 3; }
    .section-details--xundzebi .item-7     { grid-area: 5 / 1 / 6 / 2; }
    .section-details--xundzebi .item-8     { grid-area: 5 / 2 / 6 / 3; }
    .section-details--xundzebi .item-9     { grid-area: 6 / 1 / 7 / 3; }
    .section-details--xundzebi .item-10    { grid-area: 7 / 1 / 9 / 2; }
    .section-details--xundzebi .item-11    { grid-area: 7 / 2 / 8 / 3; }
    .section-details--xundzebi .item-12    { grid-area: 8 / 2 / 9 / 3; }
    .section-details--xundzebi .item-13    { grid-area: 9 / 1 / 10 / 3; }
    .section-details--xundzebi .item-14    { grid-area: 10 / 1 / 11 / 3; }
    .section-details--xundzebi .item-15    { grid-area: 11 / 2 / 13 / 3; }
    .section-details--xundzebi .item-16    { grid-area: 13 / 1 / 14 / 3; }
    .section-details--xundzebi .item-17    { grid-area: 14 / 1 / 15 / 3; }
    .section-details--xundzebi .item-18    { grid-area: 15 / 1 / 16 / 3; }
}

@media screen and (min-width: 1000px) {
    .section-description .section-description__content {
        flex-direction: row;
    }
}

/* ------------------------------------------------------ */
/* SECTION - IMPRESSUM
/* ------------------------------------------------------ */

.section-impressum {
    margin: 32px 40px 40px 0;
    display: flex;
    flex-direction: column;
}

.section-impressum .impressum__title {
    margin-bottom: 25px;
    max-width: 500px;
    width: 100%;
    flex-shrink: 0;
    padding-right: 50px;
}

.section-impressum .impressum__card {
    margin-bottom: 50px;
}

.section-impressum .impressum__card__title {
font-family: "fjPlatzGroteske-UltraBold";
}

.section-impressum .impressum__card__link {
    display: inline-block;
}

.section-impressum .impressum__copyright {
    max-width: 500px;
}

@media screen and (min-width: 700px) {
    .section-impressum .impressum__card__link,
    .section-impressum .impressum__card__text {
        font-size: 24px;
        line-height: 33px;
    }

}

@media screen and (min-width: 1000px) {
    .section-impressum {
        flex-direction: row;
    }
    .section-impressum .impressum__title {
        width: 500px;
    }
}

@media screen and (min-width: 1015px) {
    .section-impressum {
        margin: 100px 40px 40px 0;
    }
}

/* ------------------------------------------------------ */
/* SECTION - PRIVACY
/* ------------------------------------------------------ */

.section-privacy {
    margin: 32px 40px 40px 0;
    display: flex;
    flex-direction: column;
}

.section-privacy .privacy__title {
    margin-bottom: 25px;
    max-width: 600px;
    width: 100%;
    flex-shrink: 0;
    padding-right: 50px;
}

.section-privacy .privacy__card {
    margin-bottom: 50px;
}

.section-privacy .privacy__card__title {
    font-family: "fjPlatzGroteske-UltraBold";
}

.section-privacy .privacy__card__link {
    display: inline-block;
}

.section-privacy .privacy__card__list-element {
    list-style-type: none;
}

.section-privacy .privacy__card__list-element::before {
    content: "— ";
}

.section-privacy .privacy__copyright {
    max-width: 500px;
}

@media screen and (min-width: 700px) {
    .section-privacy .privacy__card__link,
    .section-privacy .privacy__card__text {
        font-size: 24px;
        line-height: 33px;
    }

}

@media screen and (min-width: 1000px) {
    .section-privacy {
        flex-direction: row;
    }
    .section-privacy .privacy__title {
        width: 600px;
    }
}

@media screen and (min-width: 1015px) {
    .section-privacy {
        margin: 100px 40px 40px 0;
    }
}


/* ------------------------------------------------------ */
/* SECTION - 404 PAGE NOT FOUND
/* ------------------------------------------------------ */

.section-pagenotfound {
    text-align: center;
}

.section-pagenotfound .pagenotfound-title {
    padding-top: 60px;
}

.section-pagenotfound .pagenotfound-text {
    margin-bottom: 20px;
}

