/* --------------------------------- */
/* DEFAULT STYLES
/* --------------------------------- */

* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #F5F5F5;
}

#page-wrapper {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, p, td, a, li {
    font-family: "fjPlatzGroteske-SemiBold";
    color: #151515;
}

*::selection {
    background-color: rgba(81, 1, 190, 0.99);
    color: #ffffff;
    opacity: 0.99;

}

h1 {
    font-size: 26px;
    line-height: 33px;
}

h2 {
    font-size: 26px;
    line-height: 33px;
}

h3 {
    font-size: 26px;
    line-height: 33px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* --------------------------------- */
/* COMPONENT - LINK BIG
/* --------------------------------- */

.link-big {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.link-big:hover,
.link-big:hover .link-big__arrow,
.link-big:hover .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-big:focus,
.link-big:focus .link-big__arrow,
.link-big:focus .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.link-big__text {
    line-height: 32px;
    font-size: 28px;
    margin-right: 5px;
}

.link-big__arrow {
    display: inline-block;
    fill: #151515;
    transition: 0.3s ease;
    height: 28px;
    vertical-align: text-bottom;
}

/* --------------------------------- */
/* COMPONENT - LINK SMALL
/* --------------------------------- */

.link-small {
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.link-small:hover,
.link-small:hover .link-small__arrow,
.link-small:hover .link-small__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.link-small:focus,
.link-small:focus .link-small__arrow,
.link-small:focus .link-small__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.link-small__arrow {
    display: inline-block;
    fill: #151515;
    transition: 0.3s ease;
    height: 12px;
    vertical-align: middle;
}

.link-small__text {
    display: inline;
    transition: 0.3s ease;
    line-height: 10px;
    font-size: 16px;
    border-bottom: 2px solid #000000;
}

/* --------------------------------- */
/* COMPONENT - LINK NAVIGATION
/* --------------------------------- */




/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION MOBILE
/* ------------------------------------------------------ */

.navigation-mobile {
    width: 100%;
    max-width: 100%;

}

.navigation-mobile__bar {
    display: flex;
    flex-row: column;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 0 16px;
    background-color: #F5F5F5;
}

.navigation-mobile__logo {
    width: 70px;
    padding: 10px 20px 10px 0;
}

.navigation-mobile__hamburger-menu {

}

.navigation-mobile__placeholder {
    height: 60px;
    width: 100%;
}

.navigation-mobile__link-background {
    top: 60px;
    height: 0px;
    width: 100%;
    position:fixed;
    background-color: #f5f5f5;;
    transition: 0.3s ease;
    overflow: hidden;
    transition-delay: 0.15s;
}

.navigation-mobile__link-background__list {
    position: relative
}

.navigation-mobile__link-background__list-item {
    position: absolute;
    right: -100px;
    font-size: 24px;
    transition: 0.3s ease;
}

.navigation-mobile__link-background__list-item.is-present {
    position: absolute;
    right: 16px;
    font-size: 24px;
    transition-delay: 0.15s;
}


.navigation-mobile__link-background__list-item:nth-child(1) {
    top: 10px;
}

.navigation-mobile__link-background__list-item:nth-child(2) {
    top: 50px;
}

.navigation-mobile__link-background__list-item__link {
    text-decoration: none;
}

.navigation-mobile__link-background.is-visible {
    height: 100px;
    box-shadow: 0px 0px 10px 10px #f5f5f5;

}

@media screen and (min-width: 450px) {
    .navigation-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - NAVIGATION DESKTOP
/* ------------------------------------------------------ */

.navigation-desktop {
    width: 100%;
    display: none;
}

.navigation-desktop__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 2560px;
    height: 85px;
    padding: 10px 32px 10px 32px;
    background-color: #F5F5F5;
    position: fixed;
}

.navigation-desktop__logo__link {
    margin-right: auto;
    width: 80px;
}

.navigation-desktop__navigation {
    margin-right: auto;
    width: 90px;
    padding: 10px 20px 10px 0;
}

.navigation-desktop__navigation-item {
    margin-left: 32px;
    margin-bottom: 7px;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.navigation-desktop__navigation-item:hover {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.navigation-desktop__navigation-item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.navigation-desktop__placeholder {
    height: 85px;
    width: 100%;
    border: 1px solid red;
}

@media screen and (min-width: 450px) {
    .navigation-desktop {
        display: block;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER MOBILE
/* ------------------------------------------------------ */

.footer-mobile {
    padding: 50px 16px;
    background-color: #ffffff;
}

.footer-mobile__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-mobile__row--one {
    margin-bottom: 30px;
}

.footer-mobile__row-one__item:not(:last-child),
.footer-mobile__row-two__item:not(:last-child){
    margin-right: 15px;
}

.footer-mobile__row-one__item,
.footer-mobile__row-two__item {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.footer-mobile__row-one__item:hover,
.footer-mobile__row-two__item:hover {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.footer-mobile__row-one__item:hover,
.footer-mobile__row-two__item:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.footer-mobile__row--two {
    margin-bottom: 30px;
}

.footer-mobile__row-two__item {
    font-size: 14px;
    line-height: 21px;
}

.footer-mobile__row-two__item:nth-child(2):hover {
    color: inherit;
}


@media screen and (min-width: 400px) {
    .footer-mobile__row {
        flex-direction: row;
    }
}

@media screen and (min-width: 950px) {
    .footer-mobile {
        display: none;
    }
}

/* ------------------------------------------------------ */
/* PARTIAL - FOOTER DESKTOP
/* ------------------------------------------------------ */

.footer-desktop {
    padding: 50px 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.footer-desktop__column {

}

.footer-desktop__column--one {
    margin-right: 60px;
}

.footer-desktop__logo {
    width: 80px;
    height: auto;
}

.footer-desktop__column--two {

}

.footer-desktop__column-two__item {
    font-size: 24px;
    text-decoration: none;
}

.footer-desktop__column-two__item {
    margin-right: 25px;
}

.footer-desktop__column-two__item:last-child {
    margin-right: 60px;
}

.footer-desktop__column--three {
    margin-left: auto;
}

.footer-desktop__column-three__item:not(:last-child) {
    margin-right: 25px;
}

.footer-desktop__column-three__item:not(:last-child):hover {
    color: inherit;
}

.footer-desktop__column-two__item,
.footer-desktop__column-three__item {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition: 0.3s ease;
}

.footer-desktop__column-two__item:hover,
.footer-desktop__column-three__item:hover {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.footer-desktop__column-two__item:hover,
.footer-desktop__column-three__itemr:focus {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}


@media screen and (min-width: 950px) {
    .footer-desktop {
        display: flex;
    }
}


@media screen and (min-width: 1050px) {
    .footer-desktop__column--one {
        margin-right: 60px;
    }
    .footer-desktop__column-two__item:last-child {
        margin-right: 60px;
    }
    .footer-desktop__column-two__item {
        margin-right: 25px;
    }
}

@media screen and (min-width: 1350px) {
    .footer-desktop__column--one {
        margin-right: 120px;
    }
    .footer-desktop__column-two__item:last-child {
        margin-right: 120px;
    }
    .footer-desktop__column-two__item {
        margin-right: 40px;
    }
}

/* ------------------------------------------------------ */
/* SECTION - HERO
/* ------------------------------------------------------ */

.section-hero {

}

.section-hero__image {
    width: 100%;
    margin-bottom: 50px;
}

.section-hero__content {
    width: 100%;
    padding: 0 16px;
}

.section-hero__content__title {
    margin-bottom: 28px;
    max-width: 1025px;
}

.section-hero__content__link {
    margin-bottom: 50px;
}

/* ------------------------------------------------------ */
/* SECTION - PROJECTS
/* ------------------------------------------------------ */

.section-projects {
    padding: 0 16px;
}

.project__image {
    width: 100%;
}

.project__image__link {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 40px;
}

.project:first-child .project__image__link {
    margin-top: 0px;
}

.project:last-child  {
    margin-bottom: 40px;
}

.project__image__link:hover + .link-big .link-big__arrow,
.project__image__link:hover +  .link-big .link-big__text {
    color: #5101BE;
    fill: #5101BE;
    border-color: #5101BE;
}

.project__image__link:hover + .link-big .link-big__arrow,
.project__title:hover .link-big__arrow,
.project__title:focus .link-big__arrow{
    margin-left: 5px !important;
}

.project__image__link:focus .link-big__arrow,
.project__image__link:focus .link-big__text {
    color: #400095;
    fill: #400095;
    border-color: #400095;
}

.project__title {
    margin-bottom: 40px;
    display: inline;
}

/* ------------------------------------------------------ */
/* SECTION - INFO
/* ------------------------------------------------------ */

.section-info {
    padding: 0 16px;
    margin-top: 20px;
}

.section-info .intro__text {
    margin-bottom: 30px;
}

.section-info .intro__link {
    margin-bottom: 90px;
}

.section-info .intro__image {
    width: 100%;
    margin-bottom: 16px;
}

.section-info .cards {
    display: flex;
    flex-direction: column;
}

.section-info .card {
    width: 100%;
    text-align: center;
    padding: 50px 25px;
    background-color: #ffffff;
    margin-bottom: 16px;
}


.section-info .card__title {
    margin-bottom: 25px;
}

.section-info .about__image {
    margin-bottom: 50px;
    width: 100%;
}

.section-info .about__title {
    margin-bottom: 25px;
}

.section-info .about__text {
    margin-bottom: 25px;
}

.section-info .about__link{
    margin-bottom: 50px;
}

.section-info .contact__image {
    width: 100%;
    margin-bottom: 50px;
}

.section-info .contact__title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 25px;

}

.section-info .contact__address {
    margin-bottom: 50px;
}

.section-info .contact__list-item {
    line-height: 22px;
}

.section-info .contact__list-item:nth-child(2) {
    margin-bottom: 22px;
}

@media screen and (min-width: 600px) {
    .section-info .cards {
        flex-direction: row;
    }
    .section-info .card:nth-child(1) {
        margin-right: 10px;
    }
    .section-info .card:nth-child(2) {
        margin-left: 10px;
    }
}